@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Inconsolata:wght@300&family=Pacifico&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #F3EFCC;
  display: grid;
  width: 100%;
  min-height: 100vh; }
  @media (min-width: 0px) {
    body {
      grid-template-columns: auto;
      grid-template-areas: "header" "menu" "main" "footer";
      gap: 1px; } }
  @media (min-width: 768px) {
    body {
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "header menu " "main main" "main main" "footer footer";
      gap: 0; } }
  @media (min-width: 992px) {
    body {
      grid-template-columns: auto 3fr 3fr;
      grid-template-areas: "header header header" "menu main main" "menu main main" "footer footer  footer";
      gap: 1px; } }

header {
  grid-area: header;
  background-color: #32502E;
  padding: 1%;
  height: auto; }
  @media (min-width: 0px) {
    header {
      position: sticky;
      z-index: 2; } }
  @media (min-width: 768px) {
    header {
      top: 0%; } }
  @media (min-width: 992px) {
    header {
      position: initial; } }

.logo {
  margin: 0 1% 0 2%; }

.barra {
  grid-area: menu;
  background-color: #32502E;
  border-right: 1px solid #629866;
  justify-content: center; }
  @media (min-width: 0px) {
    .barra {
      top: 0;
      height: auto;
      position: sticky;
      z-index: 2; } }
  @media (min-width: 768px) {
    .barra {
      height: 100%;
      flex-flow: row wrap; } }
  @media (min-width: 992px) {
    .barra {
      position: initial; } }
  .barra ul {
    height: 100%;
    flex-flow: row wrap; }

@media (min-width: 992px) {
  .contentMen {
    height: 500px;
    top: 0;
    position: sticky; } }

.menu {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
  gap: 7px;
  margin: 2%; }
  .menu li {
    margin: 2%;
    display: inline-block;
    transition: all 2s; }
    .menu li a {
      margin: 1%;
      background-color: #406343;
      font-family: "Courier New", Courier, monospace;
      font-size: 1rem;
      color: azure;
      text-align: none;
      text-decoration: none;
      border-radius: 4px; }
      .menu li a:link {
        color: #fcd7dd; }
      .menu li a:visited {
        color: azure; }
    @media (min-width: 992px) {
      .menu li:hover {
        transform: scale(1.1);
        font-weight: bold;
        margin: 20px; } }
  @media (min-width: 992px) {
    .menu {
      flex-wrap: column nowrap; } }

main {
  grid-area: main;
  margin: 1% 2% 3% 1%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: none;
  align-items: center; }
  main p, main .contentR p, .contentR main p {
    /**/
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5rem;
    color: black;
    text-align: justify; }

.contentR {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%; }
  @media (min-width: 768px) {
    .contentR {
      flex-direction: row; } }
  .contentR img {
    margin: 2%;
    border: 6px solid #406343; }
  @media (min-width: 0px) {
    .contentR p {
      padding: 4%;
      font-size: 1.3rem; } }
  @media (min-width: 768px) {
    .contentR p {
      font-size: 1.5rem; } }
  @media (min-width: 992px) {
    .contentR p {
      padding: 0px;
      margin-left: 4%; } }

/*Contenido del inicio*/
.wrapR {
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%; }

.titulo {
  margin: 2%;
  padding: 1%;
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: black;
  text-align: center; }

.caract {
  align-items: baseline;
  margin: 4%;
  padding: 2%;
  width: 100%; }
  .caract section {
    border: 4px solid #32502E;
    margin: 2%; }

.contButt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: none;
  align-items: center; }

.btn {
  background-color: #32502E;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  color: azure;
  text-align: center;
  margin: 1%; }

.infoAlim {
  background-color: #ECE7B4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3rem;
  color: black;
  text-align: justify; }

.recetas {
  background-color: #ECE7B4;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%; }
  .recetas ul {
    list-style-type: square; }
    .recetas ul li:hover {
      transform: scale(1.1); }
    .recetas ul li a {
      font-weight: bold;
      font-family: "Courier New", Courier, monospace;
      font-size: 1.5rem;
      color: black;
      text-align: none;
      text-decoration: none; }

#Pie {
  height: 130px;
  background-color: #32502E;
  padding: 1%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: white;
  text-align: none;
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  grid-area: footer; }

.logo {
  animation: jello-horizontal 1.5s 1s 2 reverse none; }

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }

img {
  animation: fade-in-bck 1.5s 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes fade-in-bck {
  0% {
    transform: translateZ(80px);
    opacity: 0; }
  100% {
    transform: translateZ(30px);
    opacity: 1; } }

/*Recetas*/
.recep {
  display: block; }
  .recep li {
    margin-top: 3%; }

.plat {
  display: grid;
  margin: 2%;
  padding: 2%;
  align-items: center;
  justify-items: center;
  background-color: #ECE7B4; }
  @media (min-width: 0px) {
    .plat {
      grid-template-areas: "nombrePlat" "vista " "ingredients " "procedure"; } }
  @media (min-width: 992px) {
    .plat {
      grid-template-columns: 1fr 4fr;
      grid-template-areas: "nombrePlat ingredients" "vista  ingredients " "procedure procedure"; } }

.nombrePlat {
  grid-area: nombrePlat;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #406343;
  text-align: center;
  margin: 4%; }

.procedure, .ingredients {
  border: 6px solid #406343;
  padding: 2%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: black;
  text-align: justify;
  grid-area: procedure; }
  .procedure ol, .ingredients ol, .ingredients ul {
    /**/
    margin-left: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
    @media (min-width: 768px) {
      .procedure ol, .ingredients ol, .ingredients ul {
        column-count: 2;
        column-gap: 8%; } }

.ingredients {
  grid-area: ingredients;
  margin: 2%; }

.vista {
  grid-area: vista; }
