#Pie{
    height: auto;
    background-color: $verd2;
    padding: 1%;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-flow: column wrap;
    @include alinear(flex-end,flex-end,center);
    grid-area: footer;
    @include mediaQ(md){
        background-position:center;
       }
}